begin
    prog   = irexec
    button = TAPE
    config = echo "TAPE" > /tmp/remote_key.txt
end

begin
    prog   = irexec
    button = STOP
    config = echo "STOP" > /tmp/remote_key.txt    
end

begin
    prog   = irexec
    button = PAUSE
    config = echo "PAUSE" > /tmp/remote_key.txt    
end

begin
    prog   = irexec
    button = PLAY
    config = echo "PLAY" > /tmp/remote_key.txt    
end

begin
    prog   = irexec
    button = TITR
    config = echo "TITR" > /tmp/remote_key.txt    
end

begin
    prog   = irexec
    button = SKIPPREV
    config = echo "SKIPPREV" > /tmp/remote_key.txt    
end

begin
    prog   = irexec
    button = SKIPNEXT
    config = echo "SKIPNEXT" > /tmp/remote_key.txt    
end

begin
    prog   = irexec
    button = SEARCHPREV
    config = echo "SEARCHPREV" > /tmp/remote_key.txt    
end

begin
    prog   = irexec
    button = SEARCHNEXT
    config = echo "SEARCHNEXT" > /tmp/remote_key.txt    
end

begin
    prog   = irexec
    button = STANDBY
    config = echo "STANDBY" > /tmp/remote_key.txt
end

begin
    prog   = irexec
    button = BTN_0
    config = echo "BTN_0" > /tmp/remote_key.txt
end

begin
    prog   = irexec
    button = BTN_1
    config = echo "BTN_1" > /tmp/remote_key.txt
end

begin
    prog   = irexec
    button = BTN_2
    config = echo "BTN_2" > /tmp/remote_key.txt
end

begin
    prog   = irexec
    button = BTN_3
    config = echo "BTN_3" > /tmp/remote_key.txt
end

begin
    prog   = irexec
    button = BTN_4
    config = echo "BTN_4" > /tmp/remote_key.txt
end

begin
    prog   = irexec
    button = BTN_5
    config = echo "BTN_5" > /tmp/remote_key.txt
end

begin
    prog   = irexec
    button = BTN_6
    config = echo "BTN_6" > /tmp/remote_key.txt
end

begin
    prog   = irexec
    button = BTN_7
    config = echo "BTN_7" > /tmp/remote_key.txt
end

begin
    prog   = irexec
    button = BTN_8
    config = echo "BTN_8" > /tmp/remote_key.txt
end

begin
    prog   = irexec
    button = BTN_9
    config = echo "BTN_9" > /tmp/remote_key.txt
end
